.layout
    &.float
        display: flex
        flex-direction: row
        align-items: flex-start
        > .float--left
            margin-right: auto
        > .float--center
            margin-left: auto
            margin-right: auto
        > .float--right
            margin-left: auto


@mixin max( $width )
    @media screen and ( max-width: $width )
        @content
@mixin min( $width )
    @media screen and ( min-width: $width )
        @content
@mixin minmax( $width1, $width2, $and: false, $additional: '' )
    @if not $and
        @media screen and ( min-width: $width1 ), ( max-width: $width2 )#{$additional}
            @content
    @else
        @media screen and ( min-width: $width1 ) and ( max-width: $width2 )#{$additional}
            @content
