@import 'base'

$songcolor: darken( #2e91fb, 40% )
// $songcolor: red
$light: rgba( 255, 255, 255, .8 )
$dark: rgba( 0, 0, 0, .8 )
$padding-small: 8px
$padding-big: 4 * $padding-small
$header-svg-height: 28px
$header-padding: 2 * $padding-small
$footer-height: $header-padding * 2 + $header-svg-height

*
    box-sizing: border-box
body, html
    margin: 0px
    height: 100%
    width: 100%
    overflow: hidden
    color: #333
    font-family: 'Oswald', sans-serif
    font-weight: 200
    font-size: 1rem
body.document
    margin: 0
    svg
        width: auto
        height: 24px
    .container
        max-width: 1000px
        margin: 0 auto
    header
        .container
            display: flex
            align-items: center
            justify-content: center
        line-height: 0
        padding: $header-padding
        z-index: 10
        width: 100vw
        font-size: 1.2rem
        background-color: darken( $songcolor, 10% )
        color: $light
        div.company, div.search
            cursor: pointer
        svg
            height: $header-svg-height
        div.company span
            width: 0
        div.menu
            display: flex
            flex-direction: row
            flex-grow: 1
            justify-content: center
            > div
                margin-left: 8%
                &:first-child
                    margin-left: 0
                @include max( 700px )
                    span
                        display: none
        div.company
            @include max( 380px )
                span
                    display: none
        div.company, div.menu div
            display: flex
            align-items: center
            > span
                padding-left: 8px
        div.search svg
            padding-left: 8px // padding bei div.company ausgleichen
    main
        display: flex
        flex-direction: column
        top: $header-padding * 2 + $header-svg-height
        width: 100vw
    footer
        z-index: 5
        width: 100vw
        max-height: 100vh
        position: fixed
        display: flex
        flex-direction: column
        align-items: flex-start
        bottom: 0
        height: $header-padding * 2 + $header-svg-height
        overflow: hidden
        transition: height .5s ease
        > div.wrapper
            background-color: $songcolor
            width: 100%
            max-height: 100%
            overflow: hidden
            transition: all .5s ease
            height: 100%
            > div.container
                width: 100%
                max-height: 100vh
                display: flex
                flex-direction: column
                align-items: stretch
                justify-content: space-around
                height: 100%
                > .cover
                    border-radius: 50%
                    max-width: 80vw
                    min-width: 30px
                    width: auto
                    height: auto
                    display: flex
                    flex: 0 1 auto
                    margin-top: 8px
                    margin-bottom: 8px
                    align-self: center
                    min-height: 30px
                div.playlist
                    align-self: center
                    margin-top: 24px
                    margin-bottom: 12px
                    span.playlist
                        font-size: 1.2rem
                        color: rgba( $light, .5 )
                        span.process
                            margin-left: 8px
                        span.sum
                            &:before
                                content: '/'
                                margin: 0 2px
                > .wrapper
                    flex-grow: 1
                    color: #EEE
                    display: flex
                    flex-direction: column
                    justify-content: space-around
                    min-height: 300px
                    margin: $padding-small * 2
                    margin-top: 0
                    > div.track
                        display: flex
                        flex-direction: column
                        width: 100%
                        align-items: center
                        > span
                            &.title
                                font-size: 2rem
                            &.interprete
                                font-size: 1.4rem
                    div.icons
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        margin-top: $padding-small
                        line-height: 0
                        > div.wrapper
                            display: flex
                            flex-direction: row
                            justify-content: space-between
                            flex-grow: 1
                            > div.wrapper
                                display: flex
                                flex-direction: row
                                justify-content: space-between
                                flex-grow: 1
                                > div.volume
                                    > div.bar
                                        display: flex
                                        position: fixed
                                        z-index: 15
                                        bottom: 0
                                        padding-bottom: 0
                                        transition: all .1s ease
                                        > div.wrapper
                                            height: 120px
                                            max-height: 0
                                            width: 30px
                                            background-color: #333
                                            transition: all .1s ease
                                    display: flex
                                    align-items: flex-end
                                    > svg:hover + div.bar, > div.bar:hover
                                        padding-bottom: $footer-height - 6px
                                        > div.wrapper
                                            max-height: 100vh
                        div.menu svg
                            cursor: pointer
                        div.collapse svg
                            transform: rotate( 90deg )
                            transition: .1s ease
                            cursor: pointer
                        > div.collapse, > div.wrapper > div.menu
                            display: none
                        svg
                            height: 32px
                    div.time
                        margin: 32px 0
                    div.operations
                        min-height: 40px
                        display: flex
                        flex-direction: row
                        align-self: center
                        align-items: center
                        width: 100%
                        justify-content: space-between
                        .tracks
                            line-height: 0
                            display: flex
                            flex-direction: row
                            align-items: center
                            justify-content: center
                            > *:not( .preview )
                                margin-left: 24px
                                &:first-child
                                    margin-left: 0
                        .preview
                            display: flex
                            flex-direction: row
                            align-items: center
                            .track
                                display: flex
                                flex-direction: column
                                align-items: flex-end
                                .title
                                    font-size: 1.4rem
                            .cover + .track
                                align-items: flex-start
                            .cover
                                height: 60px
                                width: auto
                                border-radius: 50%
                            .cover + .track, .track + .cover
                                margin-left: 12px
                        margin: 24px 0
                        svg
                            height: 40px
                        .toggle
                            transform: scale( 1.6 )
                            .play, .pause
                                transition: opacity .1s ease
                            .play
                                opacity: 0
                                z-index: 0
                                position: absolute
                                height: 32px
                            .pause
                                opacity: 1
                                z-index: 1
                            &.playing
                                .play
                                    opacity: 1
                                    z-index: 1
                                .pause
                                    opacity: 0
                                    z-index: 0
                        .next
                            transform: rotate( 180deg )
                    @include max( 700px )
                        div.operations
                            justify-content: space-around
                        div.operations .preview .track
                            display: none
                        div.operations .preview .track, div.operations .preview .cover
                            margin-left: 0 !important
        &.expanded > div.wrapper > div.container > .wrapper div.icons div.collapse svg
            transform: rotate( 270deg )
        &.expanded
            height: 100vh
            > div.wrapper
                margin-top: $header-padding * 2 + $header-svg-height
                > div.container > .wrapper div.icons > div.wrapper > div.wrapper
                    display: flex !important
        &:not( .expanded )
            > div.wrapper
                > div.container
                    padding: $header-padding
                    flex-direction: row
                    align-items: center
                    justify-content: space-around
                    > .playlist
                        margin: 0
                        display: none
                    > .cover
                        height: 40px
                        order: -1
                        width: 40px
                        flex-grow: 0
                        min-width: 10px
                        margin: 0
                    > div.wrapper
                        flex-direction: row
                        margin: 0
                        flex-grow: 1
                        margin-left: 16px
                        min-height: 0
                        justify-content: space-between
                        align-items: center
                        > div.icons
                            line-height: 0
                            @include minmax( 892px+1px, 680px-1px, false )
                                > div.wrapper
                                    > div.menu
                                        display: none
                                    > div.wrapper
                                        display: flex !important
                                        > div
                                            margin-left: 16px
                                            &:first-child
                                                margin-left: 0
                                        > div.collapse
                                            display: flex
                                > div.collapse
                                    display: none
                            @include minmax( 680px, 892px, true, ', screen and ( max-width: 510px )' )
                                > div.wrapper
                                    display: flex
                                    flex-direction: column
                                    justify-content: flex-end
                                    > div.wrapper
                                        position: fixed
                                        display: none
                                        z-index: 15
                                        bottom: $footer-height - 6px
                                        padding: $padding-small * 2
                                        border-radius: 8px
                                        background-color: #333
                                        > div.volume
                                            justify-content: flex-end
                                            > div.bar
                                                width: 106px
                                        > div
                                            margin-top: 8px
                                            margin-left: 0
                                            &:first-child
                                                margin-top: 0
                                        > div.collapse
                                            display: none
                                > div.collapse, > div.wrapper > div.menu
                                    display: flex
                        > .time
                            margin: 0
                            flex-grow: .8
                            @include max( 680px )
                                display: none
                        > .track
                            width: auto
                            align-items: flex-start
                            .title
                                font-size: 1.2rem
                            .interprete
                                font-size: .8rem
                        > .operations
                            min-height: 0
                            margin: 0
                            width: auto
                            .preview
                                display: none
                            svg
                                height: 24px
                        > .icons
                            margin-top: 0
