.layout.float { display: flex; flex-direction: row; align-items: flex-start; }

.layout.float > .float--left { margin-right: auto; }

.layout.float > .float--center { margin-left: auto; margin-right: auto; }

.layout.float > .float--right { margin-left: auto; }

* { box-sizing: border-box; }

body, html { margin: 0px; height: 100%; width: 100%; overflow: hidden; color: #333; font-family: 'Oswald', sans-serif; font-weight: 200; font-size: 1rem; }

body.document { margin: 0; }

body.document svg { width: auto; height: 24px; }

body.document .container { max-width: 1000px; margin: 0 auto; }

body.document header { line-height: 0; padding: 16px; z-index: 10; width: 100vw; font-size: 1.2rem; background-color: #011429; color: rgba(255, 255, 255, 0.8); }

body.document header .container { display: flex; align-items: center; justify-content: center; }

body.document header div.company, body.document header div.search { cursor: pointer; }

body.document header svg { height: 28px; }

body.document header div.company span { width: 0; }

body.document header div.menu { display: flex; flex-direction: row; flex-grow: 1; justify-content: center; }

body.document header div.menu > div { margin-left: 8%; }

body.document header div.menu > div:first-child { margin-left: 0; }

@media screen and (max-width: 700px) { body.document header div.menu > div span { display: none; } }

@media screen and (max-width: 380px) { body.document header div.company span { display: none; } }

body.document header div.company, body.document header div.menu div { display: flex; align-items: center; }

body.document header div.company > span, body.document header div.menu div > span { padding-left: 8px; }

body.document header div.search svg { padding-left: 8px; }

body.document main { display: flex; flex-direction: column; top: 60px; width: 100vw; }

body.document footer { z-index: 5; width: 100vw; max-height: 100vh; position: fixed; display: flex; flex-direction: column; align-items: flex-start; bottom: 0; height: 60px; overflow: hidden; transition: all .5s ease; }

body.document footer > div.wrapper { background-color: #022d5b; width: 100%; max-height: 100vh; overflow: hidden; transition: all .5s ease; }

body.document footer > div.wrapper > div.container { width: 100%; max-height: 100vh; display: flex; flex-direction: column; align-items: stretch; justify-content: space-around; height: 100%; }

body.document footer > div.wrapper > div.container .cover { border-radius: 50%; max-width: 80vw; min-width: 30px; width: auto; height: auto; display: flex; flex: 0 1 auto; margin-top: 8px; margin-bottom: 8px; align-self: center; min-height: 30px; }

body.document footer > div.wrapper > div.container div.playlist { align-self: center; margin-top: 24px; margin-bottom: 12px; }

body.document footer > div.wrapper > div.container div.playlist span.playlist { font-size: 1.2rem; color: rgba(255, 255, 255, 0.5); }

body.document footer > div.wrapper > div.container div.playlist span.playlist span.process { margin-left: 8px; }

body.document footer > div.wrapper > div.container div.playlist span.playlist span.sum:before { content: '/'; margin: 0 2px; }

body.document footer > div.wrapper > div.container .wrapper { flex-grow: 1; color: #EEE; display: flex; flex-direction: column; justify-content: space-around; min-height: 300px; margin: 32px; margin-top: 0; }

body.document footer > div.wrapper > div.container .wrapper div.track { display: flex; flex-direction: column; width: 100%; align-items: center; }

body.document footer > div.wrapper > div.container .wrapper div.track > span.title { font-size: 2rem; }

body.document footer > div.wrapper > div.container .wrapper div.track > span.interprete { font-size: 1.4rem; }

body.document footer > div.wrapper > div.container .wrapper div.icons { display: flex; flex-direction: row; justify-content: space-between; margin-top: 8px; }

body.document footer > div.wrapper > div.container .wrapper div.icons svg { height: 32px; }

body.document footer > div.wrapper > div.container .wrapper div.time { margin: 32px 0; }

body.document footer > div.wrapper > div.container .wrapper div.operations { min-height: 40px; display: flex; flex-direction: row; align-self: center; line-height: 0; width: 100%; justify-content: center; margin: 24px 0; }

body.document footer > div.wrapper > div.container .wrapper div.operations > * { margin-left: 32px; }

body.document footer > div.wrapper > div.container .wrapper div.operations > *:first-child { margin-left: 0; }

body.document footer > div.wrapper > div.container .wrapper div.operations svg { height: 40px; }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle { transform: scale(1.6); }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle .play, body.document footer > div.wrapper > div.container .wrapper div.operations .toggle .pause { transition: opacity .1s ease; }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle .play { opacity: 0; z-index: 0; position: absolute; height: 32px; }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle .pause { opacity: 1; z-index: 1; }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle.playing .play { opacity: 1; z-index: 1; }

body.document footer > div.wrapper > div.container .wrapper div.operations .toggle.playing .pause { opacity: 0; z-index: 0; }

body.document footer > div.wrapper > div.container .wrapper div.operations .next { transform: rotate(180deg); }

body.document footer.expanded { height: 100vh; }

body.document footer.expanded > div.wrapper { margin-top: 60px; overflow: auto; }
